<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FaxService</display-name>

  <listener>
    <listener-class>net.trekologer.fax.servlet.FaxServiceServletContextListener</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>jersey-servlet</servlet-name>
  	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
  	<init-param>
  		<param-name>com.sun.jersey.config.propery.packages</param-name>
  		<param-value>net.trekologer.fax.service</param-value>
  	</init-param>
  	<init-param>
  		<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
  		<param-value>true</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>jersey-servlet</servlet-name>
  	<url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

</web-app>